* {
    box-sizing: border-box;
}

%header {
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #95afc0;
}

%title {
    width: 100%;
    font: bold 18px Verdana, sans-serif;
    color: #30336b;
    text-transform: uppercase;
}

%btn {
    padding: 5px 15px;
    width: 100%;
    display: block;
    border-radius: 3px;
    border: none;
    border-bottom: 3px solid #95afc0;
    font: bold 11px Verdana, sans-serif;
    color: #30336b;
    background-color: transparent;
    &:hover {
        cursor: pointer;
    }
}

.index {
    margin: 0;
    padding: 0 10px;
    background-color: #e4eff0;  
    
    &__boards {
        padding: 0;
        width: 100%;  
        display: -webkit-flex;
        display: flex;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        &-tab {
            margin: 0 20px;
            min-width: 40px;
            height: 40px;
            background-color: #dff9fb;
            border-radius: 3px;
            
            &-link {
                padding: 0 10px;
                width: 100%;
                height:100%;
                text-decoration: none;
                font: bold 12px Verdana, sans-serif;
                color: #30336b;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        
            &--active {
                background-color: #c7ecee;
                &-link {
                    cursor: default;
                    &:hover {
                        color: #130f40;
                    }
                }
            }
        }
    }

    &__board {
        margin: 15px 0;
        padding: 10px;
        width: 100%;
        height: 90vh;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        border-radius: 3px;
        background-color: #fff;
        box-shadow: 2px 8px 10px rgba(0,0,0,0.25);
        display: none;

        &--active {
            display: flex;
        }

        &-header {
            @extend %header;

            &-title {
                @extend %title;
            }

            &-icon {
                font-size: 18px;
                color: #30336b;
                cursor: pointer;
            }
        }

        &-btn {
            @extend %btn;
        }

        &-columnContainer {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: nowrap;
            overflow-x: auto;
            height: 80vh;

            &-column {
                padding: 0 10px;
                width: 33%;
                height: 100%;
                border-left: 3px solid #686de0;
                border-right: 3px solid #686de0;

                &-header {
                    @extend %header;
                    border-bottom-color: #686de0;

                    &-title {
                        @extend %title;
                        font: bold 14px Verdana, sans-serif;
                        color: #30336b;
                    }
                }

                &-addCard {
                    @extend %btn;
                    border-bottom-color: #686de0;
                }

                &-cardList {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    &-card {
                        margin: 10px;
                        padding: 5px;
                        width: 40%;
                        height: 30%;
                        display: inline-flex;
                        background-color: #7ed6df;
                        border: 3px solid #22a6b3;
                        border-radius: 5px;
                        justify-content: flex-start;

                        &-description {
                            padding: 10px 0 0 0;
                            font: normal 12px Verdana, sans-serif;
                        }
                    }
                }
            }
        }
    }
}